
  /* light mdoe */
  .app-light {
    --ion-background-color: #ffffff;
    --ion-text-color: #000000;
    --ion-hover-color: #e6e6e6;
  }


  /* dark mode */
  .app-dark{
    --ion-background-color: #000000;
    --ion-text-color: #ffffff;
    --ion-hover-color: #2b2b2b;
  }


  .light-or-dark {
    background-color: var(--ion-background-color);
    color: var(--ion-text-color);
  }



.container {
    /*width: 90%;
    max-width: 100%;*/
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    /* seemingly the only manditory one; need to test on other computer monitors */
    height: 100%;
    
}

.react-calendar {
    width: 80%;
    max-width: 65em;
    
    background: var(--ion-background-color);
    border: 3px solid var(--ion-text-color);
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    line-height: 5em;
  
    margin: 0 auto;
    margin-top: 5px;
    /* allows for our dates to conform with the circular nature of the border */
    overflow: hidden;
    box-shadow: 3px 3px 5px rgb(158, 157, 157);
    transition: background-color 0.3s;
    
    

    }
  .react-calendar--doubleView {
    width: 70px;
  }
  
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }
  
  /* color of font when hovered over */
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  
  .react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
  }
  
  /* displays month and year at top, as well as arrows */
  .react-calendar__navigation button {
    font-size: 2em;
    font-weight: bold;
    min-width: 100px;
    background: none;
    color: var(--ion-text-color);
  }
  
  .react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
  }
  
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: var(--ion-hover-color);
    
    
  }
  
  /* weekdays text */
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font: inherit;
    font-size: 1.25em; 
    font-weight: bold;
  }
  
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
  }
  
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font: inherit;
    font-size: 10em;
    font-weight: bold;
    
  }
  
  /* weekend date colors */
  .react-calendar__month-view__days__day--weekend {
    color: #d10000 !important;
  }
  
  .react-calendar__month-view__days__day--neighboringMonth,
  .react-calendar__decade-view__years__year--neighboringDecade,
  .react-calendar__century-view__decades__decade--neighboringCentury {
    color: #757575 !important;
  }
  
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
  }



/*---------------------- TILES ----------------------*/


  
  /* calendar dates */
  .react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
    font: inherit;
    font-size: 1.5em;
    color: var(--ion-text-color);
    
  }
  
  .react-calendar__tile:disabled {
    background-color: #a9d4ff;
    color: #ababab;
  }
  
  .react-calendar__month-view__days__day--neighboringMonth:disabled,
  .react-calendar__decade-view__years__year--neighboringDecade:disabled,
  .react-calendar__century-view__decades__decade--neighboringCentury:disabled {
    color: #cdcdcd;
  }
  
  /* hover color of tiles*/
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: var(--ion-hover-color);
  
  }

  /* today's date; !important is seemingly unnecessary */
  .react-calendar__tile--now {
    background: #ffff76;
    color: #000000 !important;
  }
  
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #ffffa9;
  }
  
  .react-calendar__tile--hasActive {
    background: #76baff;
  }
  
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
  }
  

  .react-calendar__tile--active {
    background: #0026ff;
    color: white;
  }
  
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #0020d3f4;
  }
  
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }






